   * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
  }
  
  body {
    background-color: #f2f2f2;
  }
  
  .mainDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .centerDiv {
    text-align: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-transform: uppercase;
    margin-bottom: 30px;
    color: #2980b9;
    font-size: 2.5rem;
  }
  
  h2 {
    margin-bottom: 20px;
    color: #34495e;
    font-size: 1.5rem;
  }
  
  textarea {
    width: 100%;
    min-height: 200px;
    background-color: #ecf0f1;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.2rem;
    color: #34495e;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    resize: none;
  }
  
  .mainbtn {
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
    background-color: #2980b9;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
   
  }  